body {
  background-image:url("../img/wood.jpg");
  background-attachment: fixed;
}

body {
  font-family:"Verdana", sans-serif;
}

#requirements{
  border: 1px solid black;
  margin: 10px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: #E5E2C0;
}

.heading{
  width: 70%;
  margin:auto;
  color:#E5E2C0;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
