body {
  background-image:url("../img/wood.jpg");
  background-attachment: fixed;
  background-size: cover;
}

header,
p,
h1,
h2 {
  font-family:"Verdana", sans-serif;
}

div{
  border: 1px solid black;
  margin: 10px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: #91AA9D;
}

.heading{
  width: 70%;
  margin:auto;
}