@font-face {
  font-family: "FjallaOne";
  src: url(Fjalla_One/FjallaOne-Regular.ttf);
}

@font-face {
  font-family: "Lobster";
  src: url(Lobster/Lobster-Regular.ttf);
}

body {
  background-image: url("img/wood.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-family: "Verdana", "sans-serif";
}

th,
td {
  padding: 5px;
  height: 15px;
  width: 30px;
  border: solid black 1px;
}

#requirements {
  border: 1px solid black;
  margin: 10px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: #e5e2c0;
}

.heading {
  width: 70%;
  margin-top: 0px;
  padding: 0px;
  font-size: 15px;
}

footer {
  text-align: right;
  color: #e5e2c0;
  text-shadow: -1px 1px black, 1px -1px black;
}

.hovedpunkt {
  margin: 15px;
}

h2 {
  margin-top: 40px;
}

.img {
  /*Fikse så bildene er sentrerte?*/
  position: relative;
  width: 400px;
}

#design {
  font-size: 35px;
}

.textbox {
  background-color: 38, 38, 38, 20%;
}
