#cFoodPic{
    width: 50%;
}

#leftSide{
    max-width: 50%;
    float: left;
}

#rightSide{
    max-width: 50%;
    float: right;
}

.textbox {
    padding: 20px;
    font-family: Verdana;
    font-size: 0.9vw;
    float: left;
}
