h1{
    text-align: center;
}
#pic1_text {
    display: none;
    position: absolute;
    left: 25%;
    top: 37%;
    max-width: 25%;
}

#inner_container1 {
    float: left;
}

#container1_text{
    position: absolute;
    top: 30%;
    left: 55%;
    max-width: 25%;
    float: right;
}

#pic2_text{
    display: none;
    position: absolute;
    left: 55%;
    top: 82%;
    max-width: 25%;
}
#inner_container2{
    float: right;
}


#container2_text{
    position: absolute;
    left: 25%;
    top: 75%;
    max-width: 25%;
    float: left;
}

#pic3_text{
    display: none;
    position: absolute;
    left: 25%;
    top: 120%;
    max-width: 25%;
}
#inner_container3{
    float: right;
}

#container3_text{
    position: absolute;
    left: 55%;
    top: 120%;
    max-width: 25%;
    float: left;
}

#pic2 {
    position: relative;
    left: 50%;
}

.pic_container{
    height: 50%;
    margin: 5%;

}

.inner_containers{
    min-width: 50%;
    max-width: 100%;
}

.om_oss_pics{
    width: 50%;
}

.textbox {
    padding: 20px;
    font-family: Verdana;
    font-size: 0.9vw;
    float: left;
}
