h1{
    text-align: center;
}
#pic1_text {
    display: none;
    position: absolute;
    margin-left: 10%;
    margin-top: -25%;
    max-width: 25%;
}

#inner_container1 {
    float: left;
    max-width: 50%;
}

#container1_text{
    position: absolute;
    margin-top: 0%;
    margin-left: 50%;
    max-width: 35%;
    float: right;
}

#pic2_text{
    display: none;
    position: absolute;
    margin-left: 30%;
    margin-top: -25%;
    max-width: 25%;
}
#inner_container2{
    margin-top: 0%;
    margin-right: 23%;
    float: right;
    max-width: 50%;
}


#container2_text{
    position: absolute;
    margin-left: 5%;
    margin-top: 30%;
    max-width: 35%;
    float: left;
}

#pic3_text{
    display: none;
    position: absolute;
    margin-left: 10%;
    margin-top: -25%;
    max-width: 25%;
}
#inner_container3{
    float: left;
    max-width: 50%;
    }

#container3_text{
    position: absolute;
    margin-top: 65%;
    margin-left: 55%;
    max-width: 35%;
    float: left;
}

#pic2 {
    position: relative;
    left: 50%;
}

.pic_container{
    height: 50%;
    margin: 5%;

}

.om_oss_pics{
    width: 100%;
}

.textbox {
    padding: 20px;
    font-family: Verdana;
    font-size: 0.9vw;
    float: left;
}
