h1{
    text-align: center;
}
#pic1_text {
    display: none;
    position: absolute;
    margin-left: 10%;
    margin-top: -25%;
    max-width: 25%;
}

#inner_container1 {
    float: left;
    max-width: 50%;
}

#container1_text{
    position: absolute;
    margin-top: 0%;
    margin-left: 50%;
    max-width: 35%;
    float: right;
}

#pic2_text{
    display: none;
    position: absolute;
    margin-left: 10%;
    margin-top: -25%;
    max-width: 25%;
}
#inner_container2{
    margin-top: 34%;
    margin-right: -3%;
    float: right;
    max-width: 50%;
}


#container2_text{
    position: absolute;
    margin-left: 5%;
    margin-top: 30%;
    max-width: 35%;
    float: left;
}

#pic3_text{
    display: none;
    position: absolute;
    margin-left: 10%;
    margin-top: -25%;
    max-width: 25%;
}
#inner_container3{
    margin-top: 34%;
    float: left;
    max-width: 50%;
    }

#container3_text{
    position: absolute;
    margin-top: 65%;
    margin-left: 55%;
    max-width: 35%;
    float: left;
}

.pic_container{
    height: 50%;
    margin: 5%;

}

.om_oss_pics{
    width: 100%;
}

.textbox {
    padding: 20px;
    font-family: Verdana;
    font-size: 0.9vw;
    overflow:hidden;
}

@media only screen and (max-width: 800px){

    .textbox {
        padding: 20px;
        font-family: Verdana;
        font-size: 2vw;
        float: left;
    }




    #inner_container1{
        max-width: 100%;
    }

    #pic1_text {
        display: none;
        position: absolute;
        margin-left: 10%;
        margin-top: -50%;
        max-width: 60%;
    }

    #container1_text{
        position: relative;
        margin-top: 5%;
        margin-left: 15%;
        max-width: 70%;
        float: left;
    }




    #pic2_text{
        display: none;
        position: absolute;
        margin-left: 10%;
        margin-top: -50%;
        max-width: 60%;
    }
    #inner_container2{
        margin-top: 10%;
        max-width: 100%;
    }
    #container2_text{
        position: relative;
        margin-top: 5%;
        margin-left: 15%;
        max-width: 70%;
        float: left;
    }



    #pic3_text{
        display: none;
        position: absolute;
        margin-left: 10%;
        margin-top: -50%;
        max-width: 60%;
    }
    #inner_container3{
        margin-top: 10%;
        float: left;
        max-width: 100%;
        }

    #container3_text{
        position: relative;
        margin-top: 5%;
        margin-left: 15%;
        max-width: 70%;
        float: left;
    }

}
