@font-face {
  font-family: "FjallaOne";
  src: url(Fjalla_One/FjallaOne-Regular.ttf);
}

@font-face {
  font-family: "Lobster";
  src: url(Lobster/Lobster-Regular.ttf);
}

body {
  background-image: url("img/wood.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: white;
  font-family: "FjallaOne", "Verdana", sans-serif;
  margin: 0;
  padding-bottom: 180px;
  height: 100%;
}


html {
  position: relative;
  min-height: 100%;
}

.textbox {
  position: relative;
  padding: 30px 30px 30px 30px;
  color: white;
  margin-left: 15%;
  margin-right: 15%;
  width: auto;
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 18pt;
  margin-top: 100px;
  z-index: 0;
  margin-bottom: 30px;
  overflow: hidden;
}

@media only screen and (max-width: 800px) {
  .textbox {
    font-size: 14pt;
    margin-left: 5%;
    margin-right: 5%;
  }
}

h1 {
  font-size: 27pt;
}
.h1 {
  color: rgb(157, 110, 91);
}

.buttons{
position: relative;
padding: 15px;
margin-top: 20px;
border: none;
outline: none;
background-color: rgba(0, 0, 0, 0.9);
color: white;
font-family: "FjallaOne", "Verdana", sans-serif;
font-size: 15pt;
cursor: pointer;
}

.buttons:hover {
background-color: rgb(157, 110, 91);
color: white;
}

span {
  color: rgb(157, 110, 91);
}
/*1 navbar til index*/
/*ny*/
#minilogoIndex {
  display: none;
}

.navIndex {
  background-color: black;
  font-family: "FjallaOne", "Verdana", sans-serif;
  font-size: 24pt;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 1;
}

.navIndex ul {
  position: absolute;
  list-style-type: none;
  margin: 0;
  margin-left: 10%;
  padding: 0;
  width: 100%;
}

.navIndex li {
  float: left;
}

.navIndex li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 20px 20px;
}

.logoHeaderIndex {
  width: 175px;
  height: 175px;
  position: relative;
  float: left;
}

.dropdownIndex {
  position: relative;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px 38.8px;
  text-decoration: none;
  cursor: default;
}

.dropdownIndex ul {
  width: 192px;
}

.dropdownIndex ul a {
  padding: 20px;
}

.dropdownIndex ul li:last-of-type {
  padding-right: 37px;
}

.dropdown-contentIndex {
  display: none;
  position: absolute;
  background-color: black;
  z-index: 2;
  list-style-type: none;
  top: 80px;
  left: -15px;
}

.dropdown-contentIndex a {
  display: block;
}

.dropdown-contentIndex a:hover {
  background-color: rgb(157, 110, 91);
  color: white;
}

.dropdownIndex:hover .dropdown-contentIndex {
  display: block;
}

li a {
  text-decoration: none;
  color: white;
}

li:hover {
  background-color: rgb(157, 110, 91);
  color: white;
}

li a:hover {
  color: white;
}

#logoHeaderIndexNone:hover {
  background-color: rgba(255, 255, 255, 0.0001);
}

.navIndex .iconMobil {
  display: none;
}

@media only screen and (max-width: 1300px) {
  .navIndex {
    font-size: 20pt;
  }

  .navIndex ul {
    margin-left: 5%;
  }

  .navIndex li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 26px;
  }

  .dropdownIndex {
    padding: 23px 38.8px;
  }

  .dropdownIndex ul {
    width: 124.5%;
    left: -6.5px;
  }

  .dropdownIndex ul li:last-of-type {
    padding-right: 32px;
  }
}

@media only screen and (max-width: 1100px) {
  .navIndex {
    font-size: 18pt;
  }

  .navIndex ul {
    margin-left: 2%;
  }

  .navIndex li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 25px 15px;
  }

  .dropdownIndex {
    padding: 25px 38.8px;
  }
  .dropdownIndex ul {
    width: 112%;
    top: 80px;
    left: -3px;
  }

  .dropdownIndex ul li:last-of-type {
    padding-right: 28px;
  }
}

@media only screen and (max-width: 1000px) {
  .dropdownIndex ul {
    width: 104.5%;
    top: 80px;
    left: -3px;
  }

  .navIndex li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 25px 10px;
  }
  /*
  .dropdown-contentIndex {
    top: 80px;
    left: -2px;
  }*/

  /*.dropdownIndex ul li:last-of-type {
    padding-right: 28px;
  /* } */
}

@media only screen and (max-width: 910px) {
  .navIndex li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 25px 5px;
  }

  .dropdownIndex {
    padding: 25px 5px;
  }

  .dropdownIndex ul {
    width: 204%;
    top: 80px;
    left: -1px;
  }
}

/*slideshow*/
* {
  box-sizing: border-box;
}

.slideshow {
  width: 100%;
  position: relative;
}

.slides {
  display: none;
}

#uscroll {
  overflow: hidden;
}

/*1 sitat på index*/
.sitat {
  color: #ffffff;
  font-size: 8em;
  padding: 8px 12px;
  position: fixed;
  top: 40%;
  right: auto;
  width: 100%;
  text-align: center;
  font-family: "Lobster", serif;
  text-shadow: 3px 3px black;
}

/*2 rMeny */
@media only screen and (max-width: 800px) {
  #flyteguri #right,
  #left {
    float: none;
    width: 100%;
  }
}

#illustrasjonsbilde {
  max-width: 100%;
  position: relative;
  display: inline-block;
  float: left;
  margin-bottom: 20px;
  margin-top: 20px;
}


#left {
  text-align: center;
  float: left;
  clear: left;
  width: 48%;
  margin-right: 10px;
}

#right {
  text-align: center;
  float: right;
  clear: right;
  width: 48%;
  margin-left: 10px;
}

#right p {
  margin-bottom: 30px;
}

@media only screen and (max-width: 800px) {
  #right,
  #left {
    width: 100%;
    margin: 0;
  }
}

/*3 Catering Meny*/

#cFoodPic {
  width: 100%;
  margin-left: -10%;
  margin-top: 5%;
}

#leftSide {
  max-width: 45%;
  float: left;
}

#rightSide {
  max-width: 45%;
  float: right;
}

.contentBox {
  padding: 5%;
}

#textboxOmoss {
  overflow: hidden;
}

#contentHeader {
  font-size: 3vw;
}
#headerContainer {
  max-height: 40%;
  margin-left: 10%;
}

.innerHeader {
  font-size: 2vw;
}
#contentContainerL {
  margin-top: 6%;
  margin-left: 5%;
}

#contentContainerR {
  margin-top: 10%;
  margin-right: 5%;
}

.courseHeader {
  color: rgb(157, 110, 91);
}

#mobileHeader{
  display: none;
}

@media only screen and (max-width: 800px) {
  #contentHeader {
    display: none;
  }

  #mobileHeader {

    max-width: 100%;
    display: block;
    font-size: 5vw;
    text-align: left;
    margin-left: 5%;
  }

  #textboxOmoss {
    font-size: 2.5vw;
    overflow: hidden;
  }

  .innerHeader {
    font-size: 4vw;
  }

  #cFoodPic {
    display: none;
  }

  #rightSide {
    max-width: 100%;
    float: left;
    position: relative;
    margin-bottom: 0%;
    margin-top: 5%;
    margin-left: 5%;
  }

  #leftSide {
    max-width: 100%;
    float: left;
    position: relative;
    margin-top: 0%;
  }
  .contentBox {
    padding: 5%;
  }
}

/*4 BESTILL BORD*/
.bestillBordForm {
  padding: 25px;
  position: relative;
  border-radius: 3px;
  width: 100%;
  margin: auto;
}
#bestillBordButton, #kontaktinfoButton, #provPaNyttButton {
  left: 35%;
  margin: auto;
  position: relative;
  margin-top: 20px;
}


.bestillBordForm input {
  padding: 3%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-color: black;
  font-size: 12pt;
  width: 50%;
  text-align: center;
  outline-color: rgb(157, 110, 91);
  max-width: 300px;
}

#reservasjonen,
#leggInnKontaktInfo,
#ikkeLedigReservasjon,
#reservasjonFullfort {
  position: relative;
  text-align: center;
}

.bestillBordForm table {
  margin: auto;
}
.bestillBordForm input[type="radio"] {
  width: 20px;
  background-color: rgb(157, 110, 91);
}

#ikkeLedigReservasjon,
#reservasjonFullfort,
#cateringConfirmation {
  /*KAN KOPLES SAMMEN MED JOBB*/
  padding-top: 20%;
  padding-bottom: 30%;
  text-align: center;
  font-size: 20pt;
}

/*5 Catering*/
.hyperlink {
  color: rgb(157, 110, 91);
}

.cRight {
  width: 45%;
  float: left;
  margin-right: 10px;
}
.cLeft {
  width: 50%;
  float: left;
}
#runneth {
  overflow: hidden;
}

#cateringDiv {
  display: block;
}
#cateringConfirmation {
  display: none;
}

.cInput {
  width: 100%;
  padding: 8px 10px;
}
#cForm {
  width: 100%;
}

#cSubmit {
  position: relative;
  margin-top: 20px;
  left: 65%;
  top: 0%;
}


@media only screen and (max-width: 800px) {
  .cInput,
  .cRight,
  .cLeft {
    width: 100%;
  }
}

.cTekst {
  display: inline;
  position: absolute;
  left: 30px;
}
/* Checkbox, tatt fra https://paulund.co.uk/how-to-style-a-checkbox-with-css fordi å style checkbox er nært umulig */
.cCheck {
  visibility: hidden;
}
.container {
  width: 25px;
  margin: 20px 0px;
  position: relative;
}
.container span {
  cursor: pointer;
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0px;
  background: #eee;
  border: 1px solid #ddd;
}

.container span:after {
  content: "";
  opacity: 0.2;
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 6px;
  left: 7px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;

  transform: rotate(-45deg);
}
.container span:hover::after {
  opacity: 0.7;
}

.container input[type="checkbox"]:checked + span:after {
  opacity: 1;
}

/* 6 Om Oss */
#headerOmoss {
  text-align: center;
}

.pic_container {
  font-size: 1.35vw;
}

#pic1_text {
  display: none;
  position: absolute;
  margin-left: 5%;
  margin-top: -25%;
  max-width: 35%;
}

#inner_container1 {
  float: left;
  max-width: 50%;
}

#container1_text {
  position: absolute;
  margin-top: 0%;
  margin-left: 50%;
  max-width: 35%;
  float: right;
}

#pic2_text {
  display: none;
  position: absolute;
  margin-left: 5%;
  margin-top: -28%;
  max-width: 35%;
}
#inner_container2 {
  margin-top: 50%;
  margin-right: -3%;
  float: right;
  max-width: 50%;
}

#container2_text {
  position: absolute;
  margin-left: 5%;
  margin-top: 30%;
  max-width: 35%;
  float: left;
}

#pic3_text {
  display: none;
  position: absolute;
  margin-left: 10%;
  margin-top: -65%;
  max-width: 80%;
}
#inner_container3 {
  position: relative;
  margin-top: 65%;
  float: left;
  max-width: 50%;
}

#container3_text {
  position: absolute;
  margin-top: 85%;
  margin-left: 55%;
  max-width: 35%;
  float: left;
}

.pic_container {
  height: 50%;
  margin: 5%;
}

.om_oss_pics {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .pic_container {
    font-family: "FjallaOne", "Verdana", sans-serif;
    font-size: 2.5vw;
  }

  #inner_container1 {
    max-width: 100%;
  }

  #pic1_text {
    display: none;
    position: absolute;
    margin-left: 10%;
    margin-top: -50%;
    max-width: 70%;
  }

  #container1_text {
    position: relative;
    margin-top: 5%;
    margin-left: 15%;
    max-width: 70%;
    float: left;
  }

  #pic2_text {
    display: none;
    position: absolute;
    margin-left: 5%;
    margin-top: -50%;
    max-width: 70%;
  }
  #inner_container2 {
    margin-top: 10%;
    max-width: 100%;
  }
  #container2_text {
    position: relative;
    margin-top: 5%;
    margin-left: 15%;
    max-width: 70%;
    float: left;
  }

  #pic3_text {
    display: none;
    position: absolute;
    margin-left: 10%;
    margin-top: -60%;
    max-width: 80%;
  }
  #inner_container3 {
    margin-top: 10%;
    float: left;
    max-width: 100%;
  }

  #container3_text {
    position: relative;
    margin-top: 5%;
    margin-left: 15%;
    max-width: 70%;
    float: left;
  }
}

/*7 Kontakt oss*/

.icon {
  height: 50px;
}

.iconDiv {
  display: inline-block;
  vertical-align: middle;
}

.infoDiv {
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
  width: 70%;
  vertical-align: middle;
}

.infoT {
  display: inline;
  text-align: center;
}

.infoPart {
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
}

#tider p {
  margin-top: 10px;
  margin-bottom: 10px;
}

#tider p:last-of-type {
  margin-bottom: 30px;
}

#buttonKontakt1, #buttonKontakt2 {
  display: inline;
  top: 10px;
}

.divForm {
  display: inline-block;
  font-size: 15pt;
  top: 10px;
}

#infoMap {
  margin-top: 18px;
  padding-bottom: 0px;
}


#info {
  width: 50%;
  top: 0px;
  display: inline-block;
  padding-top: 50px;
  padding-bottom: 50px;
}

#info a {
  color: white;
  text-decoration: none;
}
.map-responsive {
  display: inline-block;
  overflow: hidden;
  width: 50%;
  height: 300px;
  float: right;
  margin-top: 15px;
}

.map-responsive iframe {
  height: 100%;
  width: 100%;
  border: 0;
}

@media screen and (max-width: 800px) {
  .map-responsive {
    float: none;
    margin-top: 5px;
    width: 70%;
  }

  .infoPart:last-of-type {
    margin-bottom: 10px;
  }

  #info {
    width: 100%;
  }
}

@media screen and (max-width: 470px) {
  .iconDiv {
    display: block;
  }

  .infoDiv {
    display: block;
  }

  .infoPart {
    margin-top: 40px;
  }

  .infoPart:first-of-type {
    margin-top: 0px;
  }

  .infoPart:last-of-type {
    margin-bottom: 30px;
  }

  #infoMap {
    margin-top: 0px;
  }
}

/*8 JOBBSØKNAD*/
#submit {
  position: relative;
  margin-top: 20px;
  left: 35%;
}

#soknad {
  position: relative;
  margin: auto;
  text-align: center;
}

input[placeholder],
#whybox,
select,
#datoCatering {
  padding: 3%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-color: black;
  font-size: 12pt;
  width: 50%;
  text-align: center;
}

#whybox {
  text-align: left;
  resize: none;
  overflow: auto;
  height: 200px;
}

.cInput {
  width: 100%;
}

select {
  width: 30%;
    padding: 2.5%;
    /*ENDRE FARGE*/
}

#soknad p {
  font-size: 15pt;
}

input,
#whybox,
.button,
select {
  outline-color: rgb(157, 110, 91);
}



#confirmation {
  padding-top: 20%;
  padding-bottom: 30%;
  text-align: center;
  font-size: 20pt;
}

/*9 nav.html*/

.nav {
  background-color: black;
  font-family: "FjallaOne", "Verdana", sans-serif;
  font-size: 24pt;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 1;
}

.nav ul {
  position: absolute;
  list-style-type: none;
  margin: 0;
  margin-left: 100px;
  padding: 0;
  width: 100%;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 20px 16px;
}

.dropdown {
  position: relative;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  cursor: default;
}

.logoHeader {
  width: 80px;
  height: 80px;
  position: absolute;
  float: left;
  left: 10px;
}

.dropdown ul {
  margin-left: 0px;
  width: 192px;
}

.dropdown ul a {
  padding: 20px;
}

.dropdown ul li:last-of-type {
  padding-right: 37px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  z-index: 2;
  list-style-type: none;
  top: 80px;
  left: 0;
}

.dropdown-content a {
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(157, 110, 91);
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

li a {
  text-decoration: none;
  color: white;
}

li:hover {
  background-color: rgb(157, 110, 91);
  color: white;
}

li a:hover {
  color: white;
}

.nav .iconMobil {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .nav {
    font-size: 22pt;
  }

  .nav li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 21.5px 13px;
  }

  .dropdown {
    padding: 21.5px 13px;
  }

  .dropdown ul {
    width: 180px;
  }

  .dropdown ul a {
    padding: 20px;
  }

  .dropdown ul li:last-of-type {
    padding-right: 34px;
  }
}

@media only screen and (max-width: 900px) {
  .nav {
    font-size: 20pt;
  }

  .nav li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 23px 9px;
  }

  .dropdown {
    padding: 23px 9px;
  }

  .dropdown ul {
    width: 145px;
  }

  .dropdown ul li:last-of-type {
    padding-right: 31px;
  }
}

/* When the screen is less than 800 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media only screen and (max-width: 800px) {
  /* Index navbar styling */
  #minilogoIndex {
    display: inline-block;
    width: 155px;
    height: 155px;
    position: absolute;
    left: 35%;
  }

  .navIndex li {
    display: none;
  }

  .navUlIndex {
    position: absolute;
    top: 80px;
    right: 0px;
    width: 100%;
  }

  .navIndex a.iconMobil {
    float: right;
    display: block;
    color: white;
  }

  .menymenyIndex {
    width: 160px;
  }

  .menymenyIndex a {
    background-color: black;
    width: 160px;
  }

  .navIndex.responsive {
    background-color: black;
    position: relative;
  }

  .navIndex.responsive ul {
    width: 100%;
    background-color: black;
  }

  .navIndex.responsive li {
    display: block;
    float: left;
  }

  .navIndex.responsive a.iconMobil {
    position: absolute;
    right: 10px;
    top: 0;
  }
  .navIndex.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .nav li {
    display: none;
  }

  .navUl {
    position: absolute;
    top: 80px;
    right: 0px;
    width: 100%;
  }

  .nav a.iconMobil {
    float: right;
    display: block;
    color: white;
    margin-top: 3px;
    margin-right: 10px;
  }

  .menymeny {
    text-align: right;
    width: 100%;
  }

  .menymeny a {
    background-color: black;
    width: 100%;
  }

  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  .dropdown {
    text-align: left;
  }
  .dropdown-content {
    position: absolute;
    left: 180px;
    top: 0px;
    float: right;
  }

  .nav.responsive {
    background-color: black;
    position: relative;
  }

  .nav.responsive ul {
    width: 100%;
    background-color: black;
  }

  .nav.responsive li {
    display: block;
    float: left;
    width: 100%;
  }

  .nav.responsive a.iconMobil {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .dropdownIndex:hover .dropdown-contentIndex {
    display: none;
  }

  .dropdownIndex:onclick .dropdown-contentIndex {
    display: block;
  }

  .dropdown:hover .dropdown-content {
    display: none;
  }

  .dropdown:onclick .dropdown-content {
    display: block;
  }

  /*på index siden */
  .sitat {
    font-size: 6em;
  }
  .dropdownIndex {
    text-align: left;
  }
  .dropdown-contentIndex {
    position: absolute;
    left: 180px;
    top: 0px;
    float: right;
  }

  .navIndex.responsive {
    background-color: black;
    position: relative;
  }

  .navIndex.responsive ul {
    width: 100%;
    background-color: black;
  }

  .navIndex.responsive li {
    display: block;
    float: left;
    width: 100%;
  }

  .navIndex.responsive a.iconMobil {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navIndex.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  #logoHeaderIndexNone {
    display: none;
  }

  .navIndex a.iconMobil {
    float: right;
    display: block;
    color: white;
    margin-top: 3px;
    margin-right: 10px;
  }

  .navUlIndex {
    position: absolute;
    top: 80px;
    right: 0px;
    width: 100%;
  }
}

/* 10 footer - add.js */
#footerBox {
  text-align: center;
  height: auto;
  background-color: black;
  opacity: 0.93;
  overflow: hidden;
  margin-top: 30px;
  width: 100%;
  bottom: 0;
  height: auto;
  position: absolute;
}

.footerDiv {
  position: relative;
  float: left;
  width: 33%;
  text-align: center;
  height: auto;
  top: 0;
}

#footer3 {
  width: 34%;
}
@media only screen and (max-width: 800px) {
  .footerDiv,
  #footer3 {
    float: none;
    width: 100%;
  }
  #footer2,
  #footer3 {
    margin-top: 50px;
  }
  #footerBox {
    position: static;
  }
  body {
    padding-bottom: 0;
  }
}
