whybox@font-face {
    font-family: "FjallaOne";
    src: url(../Fjalla_One/FjallaOne-Regular.ttf);
  }


@font-face {
    font-family: "Lobster";
    src: url(../Lobster/Lobster-Regular.ttf);
  }


body {
  background-image:url("../img/wood.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: white;
  font-family: "FjallOne", "Verdana", sans-serif;
  margin-left:0px;
}

.textbox {
  padding-left: 30px;
  padding-right: 30px;
  padding-top:30px;
  color: white;
  margin-left: 20%;
  margin-right: 20%;
  width:auto;
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 18pt;
  margin-top: 100px;
  z-index: 0;
}

/*rMeny */
#flyteguri {
  float:left;
  top: 0;
}

#illustrasjonsbilde {
  max-width: 100%;
  position: relative;
  display:inline-block;
  float:left;
  margin-bottom: 20px;
}

.rett {
  text-align:center;
  font-size:24pt;
}
#left {
  text-align:center;
  float:left;
  clear:left;
  width:48%;
  margin-right:10px;
}

#right {
  text-align: center;
  float:right;
  clear:right;
  width:48%;
  margin-left:10px;
}


/*nav.html*/
.nav {
    background-color: black;
    font-family: "FjallaOne", "Verdana", sans-serif;
    font-size: 24pt;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 1;
}

ul {
    /*width: 100%;*/
    /*padding-inline-start: 0px;*/
}

li {
    display: inline;


}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    /*min-width: 160px;*/
    z-index: 2;
    margin-block-start: 0;
}

.dropdown-content a {
    /*padding: 12px 16px;*/
    /*text-decoration: none;*/
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


li a {
    text-decoration: none;
    color:white;
    width: 14.2vw;
}

li:hover {
    background-color: black;
}

.active {
    color: red;
}

.logoHeader{
    width: 80px;
    height: 80px;
}
.button {
  position: relative;
  left: 75%;
  margin-bottom: 10%;
  padding: 2%;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 10px;
}

/*.menymeny {
    display: block;
}
*/

/*JOBBSØKNAD*/
#submit {
  border-radius: 20px;
  position: relative;
  padding: 10px;
  margin-top: 25px;
  left: 40%;
  font-size: 15px;
  outline: none;
  background-color:rgba(255,255,255,0.7);
  color: white;
}

#soknad {
  padding: 25px;
  position: relative;
  text-align: center;
}

#whybox {
  resize: none;
  overflow: auto;
  width: 300px;
  height: 200px;
}
input[placeholder], #whybox, select {
  padding: 2.5%;
  background-color: rgba(0,0,0,0.8);
  color: white;
  border-color: black;
  font-size: 12pt;
}

input, #whybox, .button{
  outline-color: orange;
}

.button:active {
  background-color: orange;
}
select option:first-child {
  color:pink;
/*ENDRE FARGE PÅ FØRSTE FUNKER IKKE
FARGE:  rgb(138, 142, 139)  */
}
select {
  padding: 2.5%;
/*ENDRE FARGE*/
}

#confirmation {
  padding-top: 20%;
  padding-bottom: 30%;
  text-align: center;
  font-size: 20pt;

}

/*BESTILL BORD*/
form {
  padding: 25px;
  position: relative;
  border-radius: 3px;
  width: 475px;
  margin-left: 19%;
}
#number {
  position: relative;
  margin-left: 25%;
}

td {
  padding-right: 25px;
}


/*navbar til index*/
.bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #262626;
}

.boks, #mknapp {
  float: left;
  font-family: "FjallaOne";
  font-size: 24pt;
}

.boks a, #mknapp a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.boks a:hover, #mknapp a:hover {
  background-color: #111;
}

/*dropdown*/
.dropdowna {
  position: relative;
  display: inline-block;
}

.dropdowna-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdowna-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdowna-content a:hover {background-color: #ddd;}

.dropdowna:hover .dropdowna-content {display: block;}

.dropdowna:hover #mknapp {background-color: #3e8e41;}

/*sitat på index*/
#sitat {
  font-family: "Lobster";
  font-size: 48pt;
  color: #ffffff;
}



/*slideshow*/


}

/*Kontakt oss*/
.icon{
    height: 50px;
    /*display:inline;*/
}

.infoT{
    display:inline;
}

#googleMap{
    width:100%;
    height:400px;
}
