@font-face {
  font-family: "FjallaOne";
  src: url(../Fjalla_One/FjallaOne-Regular.ttf);
}

@font-face {
  font-family: "Lobster";
  src: url(../Lobster/Lobster-Regular.ttf);
}

body {
  background-image: url("../img/wood.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: white;
  font-family: "FjallaOne", "Verdana", sans-serif;
  margin:0;
  padding-bottom:180px;
  height: 100%;
}
html {
  position:relative;
  min-height: 100%;
}

.textbox {
  position: relative;
  padding:30px 30px 30px 30px;
  color: white;
  margin-left: 15%;
  margin-right: 15%;
  width: auto;
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 18pt;
  margin-top: 100px;
  z-index: 0;
  margin-bottom:30px;
  /*min-height: 550px;*/
}

@media only screen and (max-width: 800px) {
  .textbox {
    font-size: 14pt;
    margin-left: 5%;
    margin-right: 5%;
  }
}

h1 {
  font-size: 27pt;
}
/*1 navbar til index*/

/*ny*/
.navIndex {
  background-color: black;
  font-family: "FjallaOne", "Verdana", sans-serif;
  font-size: 24pt;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 1;
}

.navIndex ul {
  position: absolute;
  list-style-type: none;
  margin: 0;
  margin-left: 40px;
  padding: 0;
  width: 100%;
  /*overflow: hidden;*/
  /*margin-top: 0px;*/
}

.navIndex li {
  float: left;
  /*padding-bottom: 24px;
  padding-top: 10px;*/
  /*padding: 20px 20px;*/
}

.navIndex li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 20px 38.8px;
}
/*
.navUl > li {
  display: inline;
  */ /*padding: browser width / menyknapper*/
/*padding-right: 40px;*/ /*
  padding: 5px;
  padding-bottom: 20px;
  padding-top: 30px;
  padding-right: 1.5%;
  padding-left: 1.5%;
}

.navUl > li > #aJobb {
  padding-right: 0;
}

.navUl {
  position: absolute;
  left: 100px;
  top: 7px;
}*/


.logoHeaderIndex {
  width: 175px;
  height: 175px;
  position: relative;
}

.dropdownIndex {
  position: relative;
  display: inline-block;
  /*display: block;*/
  color: white;
  text-align: center;
  padding: 20px 38.8px;
  text-decoration: none;
}

.dropdownIndex ul {
  margin-left: 0px;
  width: 192px;
}

.dropdownIndex ul a {
  padding: 20px;
}

.dropdownIndex ul li:last-of-type {
  padding-right: 37px;
}

.dropdown-contentIndex {
  display: none;
  position: absolute;
  background-color: black;
  z-index: 2;
  margin-block-start: 20px;
  list-style-type: none;
  top: 80px;
  left: 0;
}

.dropdown-contentIndex a {
  display: block;
}

.dropdown-contentIndex a:hover {
  background-color: rgb(157, 110, 91);
  color: white;
}

.dropdownIndex:hover .dropdown-contentIndex {
  display: block;
}

li a {
  text-decoration: none;
  color: white;
}

li:hover {
  background-color: rgb(157, 110, 91);
  color: white;
}

li a:hover {
  color: white;
}

.navIndex .iconMobil {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .navIndex {
    font-size: 20pt;
  }

  .navIndex li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 23px 25.5px;
  }

  .dropdownIndex {
    padding: 23px 25.5px;
  }

  .dropdownIndex ul {
    width: 165%;
  }
  /*
  .navUl {
    position: absolute;
    top: -30px;
  }*/
  /*
  .navUl > li {
    padding-bottom: 24px;
    padding-top: 30px;
    padding-right: 1.4%;
    padding-left: 1.4%;
  }*/
  /*
  .navUl > li > #aJobb {
    padding-right: 0;
  }*/
}
/*gammel

.navIndex {
  background-color: black;
  font-family: "FjallaOne", "Verdana", sans-serif;
  font-size: 24pt;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 1;
}

.navUlIndex > li {
  display: inline;
  /*padding: browser width / menyknapper*/
  /*padding: 5px;
  padding-bottom: 20px;
  padding-top: 30px;
  padding-right: 1.5%;
  padding-left: 1.5%;
}

.navUlIndex {
  position: absolute;
  left: 50px;
  top: -12px;
}

.logoHeaderIndex {
  position: absolute;
  width: 150px;
  height: 150px;
}

.dropdownIndex {
  position: relative;
  display: inline-block;
}

.dropdown-contentIndex {
  display: none;
  position: absolute;
  background-color: black;
  z-index: 2;
  margin-block-start: 20px;
  list-style-type: none;
  padding: 0px;
}*/



/*slideshow*/
* {
  box-sizing: border-box;
}

.slideshow {
  width: 100%;
  position: relative;
}

.slides {
  display: none;
}

#uscroll {
  overflow: hidden;
}

/*1 sitat på index*/
.sitat {
  color: #ffffff;
  font-size: 8em;
  padding: 8px 12px;
  position: absolute;
  bottom: 50%;
  right: auto;
  width: 100%;
  text-align: center;
  font-family: "Lobster";
  text-shadow: 3px 2px black;
}

/*2 rMeny */
@media only screen and (max-width: 800px) {
  #flyteguri #right,
  #left {
    float: none;
  }
  #right,
  #left {
    text-align: center;
    clear: none;
    width: 100%;
    margin-left: 0px;
  }
}
#flyteguri {
  float: left;
  top: 0;
}

#illustrasjonsbilde {
  max-width: 100%;
  position: relative;
  display: inline-block;
  float: left;
  margin-bottom: 20px;
  margin-top: 20px;
}

.rett {
  text-align: center;
  font-size: 24pt;
}

#left {
  text-align: center;
  float: left;
  clear: left;
  width: 48%;
  margin-right: 10px;
}

#right {
  text-align: center;
  float: right;
  clear: right;
  width: 48%;
  margin-left: 10px;
}




#right p {
  margin-bottom: 30px;
}

/*4 BESTILL BORD*/
.bestillBordForm {
  padding: 25px;
  position: relative;
  border-radius: 3px;
  width: 100%;
  margin: auto;
}
.bestillBordButton {
  position: relative;
  margin: auto;
  position: relative;
  padding: 10px;
  margin-top: 20px;
  left: 35%;
  font-size: 15px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.7);
  color: white;
}
.bestillBordForm input {
  padding: 3%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-color: black;
  font-size: 12pt;
  width: 50%;
  text-align: center;
  outline-color: rgb(157, 110, 91);
}

#reservasjonen,
#leggInnKontaktInfo,
#ikkeLedigReservasjon,
#reservasjonFullfort {
  position: relative;
  text-align: center;
}

.bestillBordForm table {
  margin: auto;
}
.bestillBordForm input[type="radio"] {
  width: 20px;
  background-color: orange;
}

#ikkeLedigReservasjon, #reservasjonFullfort { /*KAN KOPLES SAMMEN MED JOBB*/
  padding-top: 20%;
  padding-bottom: 30%;
  text-align: center;
  font-size: 20pt;
}

/*5 Catering*/
.hyperlink {
  color: rgb(157, 110, 91);
}

.cRight {
  width: 45%;
  float: left;
  margin-right: 10px;
}
.cLeft {
  width: 50%;
  float: left;
}
#runneth {
  overflow: hidden;
}

.cInput {
  width: 100%;
  padding: 8px 10px;
}
#cForm {
  width: 100%;
}

#cSubmit {
  position: relative;
  padding: 10px;
  margin-top: 20px;
  left: 65%;
  top: 0%;
  font-size: 15px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.7);
  color: white;
}

@media only screen and (max-width: 800px) {
  .cInput,.cRight,.cLeft {
  width:100%;
  }
}

.cTekst {
  display: inline;
  position: absolute;
  left: 30px;
}
/* Checkbox, tatt fra https://paulund.co.uk/how-to-style-a-checkbox-with-css fordi å style checkbox er nært umulig */
.cCheck {
  visibility: hidden;
}
.container {
  width: 25px;
  margin: 20px 0px;
  position: relative;
}
.container span {
  cursor: pointer;
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0px;
  background: #eee;
  border: 1px solid #ddd;
}

.container span:after {
  content: "";
  opacity: 0.2;
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  top: 6px;
  left: 7px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;

  transform: rotate(-45deg);
}
.container span:hover::after {
  opacity: 0.7;
}

.container input[type="checkbox"]:checked + span:after {
  opacity: 1;
}

/*7 Kontakt oss*/

.icon {
  height: 50px;
}

.iconDiv {
  display: inline-block;
  vertical-align: middle;
}

.infoDiv {
  margin-top: auto;
  margin-bottom: auto;
  display: inline-block;
  width: 70%;
  vertical-align: middle;
}

.infoT {
  display: inline;
  text-align: center;
}

.infoPart {
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
}

#tider p {
  margin-top: 10px;
  margin-bottom: 10px;
}

#tider p:last-of-type {
  margin-bottom: 30px;
}

.buttonKontakt {
  /*position: absolute;*/
  padding: 15px;
  /*margin-top: 25px;*/
  /*left: 0;*/
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  font-family: "FjallaOne", "Verdana", sans-serif;
  display: inline;
  font-size: 15pt;
  top: 10px;
}

.divForm {
  display: inline-block;
  font-size: 15pt;
  top: 10px;
}

#infoMap {
  margin-top: 18px;
}

.buttonKontakt:hover {
  background-color: rgb(157, 110, 91);
}

#info {
  /*position: absolute;*/
  width: 50%;
  top: 0px;
  display: inline-block;
  padding-top: 50px;
  padding-bottom: 50px;
}

#info a {
  color: white;
  text-decoration: none;
}
.map-responsive {
  display: inline-block;
  overflow: hidden;
  width: 50%;
  height: 300px;
  float: right;
  margin-top: 15px;
}

.map-responsive iframe {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .map-responsive {
    float: none;
    margin-top: 5px;
    width: 70%;
    padding-bottom: 20px;
  }

  .infoPart:last-of-type {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 470px) {
  .iconDiv {
    display: block;
  }

  .infoDiv {
    display: block;
  }

  .infoPart {
    margin-top: 40px;
  }

  .infoPart:first-of-type {
    margin-top: 0px;
  }

  .infoPart:last-of-type {
    margin-bottom: 30px;
  }

  #infoMap {
    margin-top: 0px;
  }
}

/*8 JOBBSØKNAD*/
#submit {
  position: relative;
  padding: 10px;
  margin-top: 20px;
  left: 35%;
  font-size: 15px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.7);
  color: white;
}

#soknad {
  position: relative;
  margin: auto;
  text-align: center;
}

#whybox {
  resize: none;
  overflow: auto;
  width: 300px;
  height: 200px;
}

input[placeholder],
#whybox,
select {
  padding: 3%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-color: black;
  font-size: 12pt;
  width: 50%;
  text-align: center;
}
.cInput {
  width: 100%;
}

select {
  width: 30%;
}

#soknad p {
  font-size: 15pt;
}

input,
#whybox,
.button,
select {
  outline-color: rgb(157, 110, 91);
}

.button:active {
  background-color: rgb(157, 110, 91);
}

#velgStilling option:first-child {
  color: rgb(157, 110, 91);
  /*ENDRE FARGE PÅ FØRSTE FUNKER IKKE
FARGE:  rgb(138, 142, 139)  */
}

select {
  padding: 2.5%;
  /*ENDRE FARGE*/
}

#confirmation {
  padding-top: 20%;
  padding-bottom: 30%;
  text-align: center;
  font-size: 20pt;
}

/*9 nav.html*/

.nav {
  background-color: black;
  font-family: "FjallaOne", "Verdana", sans-serif;
  font-size: 24pt;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 1;
}

.nav ul {
  position: absolute;
  list-style-type: none;
  margin: 0;
  margin-left: 100px;
  padding: 0;
  width: 100%;
  /*overflow: hidden;*/
  /*margin-top: 0px;*/
}

.nav li {
  float: left;
  /*padding-bottom: 24px;
  padding-top: 10px;*/
  /*padding: 20px 20px;*/
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 20px 38.8px;
}
/*
.navUl > li {
  display: inline;
  */ /*padding: browser width / menyknapper*/
/*padding-right: 40px;*/ /*
  padding: 5px;
  padding-bottom: 20px;
  padding-top: 30px;
  padding-right: 1.5%;
  padding-left: 1.5%;
}

.navUl > li > #aJobb {
  padding-right: 0;
}

.navUl {
  position: absolute;
  left: 100px;
  top: 7px;
}*/

.logoHeader {
  width: 80px;
  height: 80px;
  position: absolute;
  float: left;
  left: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
  /*display: block;*/
  color: white;
  text-align: center;
  padding: 20px 38.8px;
  text-decoration: none;
}

.dropdown ul {
  margin-left: 0px;
  width: 192px;
}

.dropdown ul a {
  padding: 20px;
}

.dropdown ul li:last-of-type {
  padding-right: 37px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  z-index: 2;
  margin-block-start: 20px;
  list-style-type: none;
  top: 80px;
  left: 0;
}

.dropdown-content a {
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(157, 110, 91);
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

li a {
  text-decoration: none;
  color: white;
}

li:hover {
  background-color: rgb(157, 110, 91);
  color: white;
}

li a:hover {
  color: white;
}

.nav .iconMobil {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .nav {
    font-size: 20pt;
  }

  .nav li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 23px 25.5px;
  }

  .dropdown {
    padding: 23px 25.5px;
  }

  .dropdown ul {
    width: 165%;
  }
  /*
  .navUl {
    position: absolute;
    top: -30px;
  }*/
  /*
  .navUl > li {
    padding-bottom: 24px;
    padding-top: 30px;
    padding-right: 1.4%;
    padding-left: 1.4%;
  }*/
  /*
  .navUl > li > #aJobb {
    padding-right: 0;
  }*/
}

/* When the screen is less than 800 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 800px) {
  .nav li {
    display: none;
  }
  .nav a.iconMobil {
    float: right;
    display: block;
    color: white;
  }

  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  .nav.responsive {
    position: relative;
  }
  .nav.responsive a.iconMobil {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* 10 footer - add.js */
#footerBox {
  text-align:center;
  height:auto;
  background-color:black;
  overflow:hidden;
  margin-top:30px;
  width:100%;
  bottom:0;
  height:180px;
  position:absolute;
}

.footerDiv {
  position:relative;
  float:left;
  width:33%;
  text-align:center;
  height:auto;
  top:0;
}

#footer3 {
  width:34%;
}
